langchain
langchain_community
langchain_huggingface
langchain_openai
langchainhub==0.1.15
streamlit==1.33.0
openai==1.25.0
duckduckgo-search==5.3.0
pypdf==4.2.0
sentence-transformers==2.7.0
docarray==0.40.0
SQLAlchemy==2.0.29
langchain_experimental
selenium
sentencepiece
googletrans
py-translate
deep_translator
fastapi
uvicorn
mysql-connector-python
langchain_experimental
accelerate==0.29.3
seaborn
matplotlib
xgboost